<!doctype html >

<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{components/head :: head}"></head>
<body>
<div class="page">
    <!-- Sidebar -->
    <aside th:replace="~{components/sidebar :: sidebar}"></aside>
    <div class="page-wrapper" layout:fragment="content">

    </div>

</div>
<!--Script-->
<script th:src="@{/js/tabler.min.js}" defer></script>
<div layout:fragment="scripts">
</div>
</body>
</html>