<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/admin}">
<body>
<div layout:fragment="content">
    <div class="page-body">
        <div class="container">
            <div class="row row-cards justify-content-center">
                <div class="col-12 col-xl-6">
                    <form method="post" th:action="@{/admin/add-members}" th:object="${membersDto}" autocomplete="off"
                          novalidate>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Tạo Thành Viên</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label" for="maTV">Mã thành viên</label>
                                    <input type="number" placeholder="Nhập mã thành viên (VD: 1111111)"
                                           class="form-control" th:errorclass="is-invalid" id="maTV"
                                           th:field="*{maTV}"/>
                                    <div th:if="${#fields.hasErrors('maTV')}" th:errorclass="invalid-feedback"
                                         th:errors="*{maTV}"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tên thành viên</label>
                                    <input placeholder="Nguyễn Văn A" type="text" class="form-control"
                                           th:errorclass="is-invalid" th:field="*{hoTen}"/>
                                    <div th:if="${#fields.hasErrors('hoTen')}" th:errorclass="invalid-feedback"
                                         th:errors="*{hoTen}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Khoa</label>
                                    <input placeholder="Nhập khoa" type="text" class="form-control"
                                              th:errorclass="is-invalid" th:field="*{khoa}"/>
                                    <div th:if="${#fields.hasErrors('khoa')}" th:errorclass="invalid-feedback"
                                         th:errors="*{khoa}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ngành</label>
                                    <input placeholder="Nhập ngành" type="text" class="form-control"
                                              th:errorclass="is-invalid" th:field="*{nganh}"/>
                                    <div th:if="${#fields.hasErrors('nganh')}" th:errorclass="invalid-feedback"
                                         th:errors="*{nganh}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Số điện thoại</label>
                                    <input placeholder="Nhập số điện thoại" type="text" class="form-control"
                                              th:errorclass="is-invalid" th:field="*{sdt}"/>
                                    <div th:if="${#fields.hasErrors('sdt')}" th:errorclass="invalid-feedback"
                                         th:errors="*{sdt}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input placeholder="Nhập email" type="text" class="form-control"
                                              th:errorclass="is-invalid" th:field="*{email}"/>
                                    <div th:if="${#fields.hasErrors('email')}" th:errorclass="invalid-feedback"
                                         th:errors="*{email}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mật khẩu</label>
                                    <input placeholder="Nhập mật khẩu" type="text" class="form-control"
                                              th:errorclass="is-invalid" th:field="*{password}"/>
                                    <div th:if="${#fields.hasErrors('password')}" th:errorclass="invalid-feedback"
                                         th:errors="*{password}"></div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end gap-2">
                                <a class="btn" th:href="@{/admin/members}">Huỷ</a>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
