<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/admin}">
<body>
<div layout:fragment="content">
    <div class="page-body">
        <div class="container">
            <div class="row row-cards justify-content-center">
                <div class="col-12 col-xl-6">
                    <form method="post" th:action="@{/admin/device-borrowing}" th:object="${muonThietBiDto}" autocomplete="off"
                          novalidate>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Mượn thiết bị</h3>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-success mb-3" role="alert" th:if="${param.success}">
                                    <div class="d-flex">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
                                        </div>
                                        <div>
                                            Mượn thiết bị thành công !
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thành viên mượn</label>
                                    <input placeholder="121410422" type="number" class="form-control"
                                           th:errorclass="is-invalid" th:field="*{maTV}"/>
                                    <div th:if="${#fields.hasErrors('maTV')}" th:errorclass="invalid-feedback"
                                         th:errors="*{maTV}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="maTB">Mã thiết bị</label>
                                    <input type="number" placeholder="Nhập mã thiết bị (VD: 111111)"
                                           class="form-control" th:errorclass="is-invalid" id="maTB"
                                           th:field="*{maTB}"/>
                                    <div th:if="${#fields.hasErrors('maTB')}" th:errorclass="invalid-feedback"
                                         th:errors="*{maTB}"/>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end gap-2">
                                <a class="btn" th:href="@{/devices}">Huỷ</a>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>