<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/admin}">
<body>
<div layout:fragment="content">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Thiết bị đang được mượn
                    </h2>
                </div>
                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <form class="row g-2">
                            <div class="col">
                                <input name="search" type="text" class="form-control" placeholder="Search for…"
                                       th:value="${search}">
                            </div>
                            <div class="col-auto">
                                <button type="submit" href="#" class="btn btn-icon" aria-label="Button">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                        <path d="M21 21l-6 -6"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">

                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table
                                    class="table table-vcenter table-mobile-md card-table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Thành viên</th>
                                    <th>Thiết bị</th>
                                    <th>TG mượn</th>
                                </tr>
                                </thead>
                                <tbody th:if="${list.empty}">
                                <tr>
                                    <td colspan="5" class="text-center text-muted">No data available</td>
                                </tr>
                                </tbody>
                                <tbody th:unless="${list.empty}">
                                <tbody th:each="item : ${list}">
                                <tr>
                                    <td th:text="${item.maTT}"></td>
                                    <td>
                                        <a th:href="@{/admin/detail-member/{itemId}(itemId=${item.thanhVien.maTV})}" class="text-reset">
                                            <div class="d-flex py-1 align-items-center">
                                            <span class="avatar me-2"
                                                  style="background-image: url('/images/default_avatar.jpg')"></span>
                                                <div class="flex-fill">
                                                    <div class="font-weight-medium" th:text="${item.thanhVien.hoTen}">
                                                    </div>
                                                    <div class="text-muted">
                                                        <span class="text-reset" th:text="${item.thanhVien.maTV}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="text-muted">
                                        <span th:text="${item.thietBi.maTB}"></span>
                                        <span> - </span>
                                        <span th:text="${item.thietBi.tenTB}"></span>
                                    </td>
                                    <td class="text-muted">
                                        <span th:if="${item.TgMuon != null}" th:text="${item.TgMuon}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>