<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/admin}">
<body>
<div layout:fragment="content">
    <div class="page-body">
        <div class="container">
            <div class="row row-cards justify-content-center">
                <div class="col-12 col-xl-6">
                    <form method="post" th:action="@{/admin/violation/{itemId}(itemId=${xuLyDto.maXL})}"
                          th:object="${xuLyDto}" autocomplete="off" novalidate>
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Cập nhật xử lý</h3>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label" for="maXL">Mã xử lý</label>
                                    <input type="number" class="form-control" th:errorclass="is-invalid" id="maXL"
                                           th:field="*{maXL}" readonly/>
                                    <div th:if="${#fields.hasErrors('maXL')}" class="invalid-feedback"
                                         th:errors="*{maXL}"></div>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="maTV">Mã thành viên</label>
                                    <input type="number" placeholder="Nhập mã thành viên (VD: 1111111)"
                                           class="form-control" th:errorclass="is-invalid" id="maTV"
                                           th:field="*{maTV}"/>
                                    <div th:if="${#fields.hasErrors('maTV')}" class="invalid-feedback"
                                         th:errors="*{maTV}"></div>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="hinhThucXL">Hình thức xử lý</label>
                                    <select class="form-select" id="hinhThucXL" name="hinhThucXL">
                                        <option value="Khóa thẻ 1 tháng" th:selected="${xuLyDto.hinhThucXL == 'Khóa thẻ 1 tháng'}">Khóa thẻ 1
                                            tháng
                                        </option>
                                        <option value="Khóa thẻ 2 tháng" th:selected="${xuLyDto.hinhThucXL == 'Khóa thẻ 2 tháng'}">Khóa thẻ 2
                                            tháng
                                        </option>
                                        <option value="Bồi thường mất tài sản" th:selected="${xuLyDto.hinhThucXL == 'Bồi thường mất tài sản'}">Bồi thường mất tài sản
                                        </option>
                                        <option value="Khóa thẻ 1 tháng và bồi thường"
                                                th:selected="${xuLyDto.hinhThucXL == 'Khóa thẻ 1 tháng và bồi thường'}">Khóa thẻ
                                            1 tháng và bồi thường
                                        </option>
                                        <option value="Khóa thẻ 2 tháng và bồi thường"
                                                th:selected="${xuLyDto.hinhThucXL == 'Khóa thẻ 2 tháng và bồi thường'}">Khóa thẻ
                                            2 tháng và bồi thường
                                        </option>
                                        <option value="Khóa thẻ vĩnh viễn" th:selected="${xuLyDto.hinhThucXL == 'Khóa thẻ vĩnh viễn'}">Khóa thẻ
                                            vĩnh viễn
                                        </option>
                                        <!-- Thêm các tùy chọn cố định tại đây -->
                                    </select>
                                    <div th:if="${#fields.hasErrors('hinhThucXL')}" th:errorclass="invalid-feedback"
                                         th:errors="*{hinhThucXL}"></div>
                                </div>

                                <div class="mb-3" id="soTienWrapper">
                                    <label class="form-label" for="soTien">Số tiền</label>
                                    <input type="number" placeholder="Nhập số tiền phạt (VD: 100000)"
                                           class="form-control" th:errorclass="is-invalid" id="soTien"
                                           th:field="*{soTien}"/>
                                    <div th:if="${#fields.hasErrors('soTien')}" th:errorclass="invalid-feedback"
                                         th:errors="*{soTien}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="ngayXL">Ngày xử lý</label>
                                    <input type="text" class="form-control" th:errorclass="is-invalid" id="ngayXL"
                                           th:field="*{ngayXL}"/>
                                    <div th:if="${#fields.hasErrors('ngayXL')}" class="invalid-feedback"
                                         th:errors="*{ngayXL}"></div>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="trangThaiXL">Hình thức xử lý</label>
                                    <select class="form-select" id="trangThaiXL" name="trangThaiXL">
                                        <option value="1" th:selected="${xuLyDto.trangThaiXL == 1}">Đang xử lý</option>
                                        <option value="0" th:selected="${xuLyDto.trangThaiXL == 0}">Đã xử lý</option>
                                        <!-- Thêm các tùy chọn cố định tại đây -->
                                    </select>
                                    <div th:if="${#fields.hasErrors('trangThaiXL')}" th:errorclass="invalid-feedback"
                                         th:errors="*{trangThaiXL}"></div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end gap-2">
                                <a class="btn" th:href="@{/admin/violation}">Huỷ</a>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="scripts">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var hinhThucXL = document.getElementById("hinhThucXL");
            var soTienWrapper = document.getElementById("soTienWrapper");
            var soTien = document.getElementById("soTien");
            hinhThucXL.addEventListener("change", function () {
                var selectedOption = hinhThucXL.options[hinhThucXL.selectedIndex];
                var selectedText = selectedOption.textContent;

                if (selectedText.toLowerCase().includes("bồi thường")) {
                    soTienWrapper.style.display = "block";
                } else {
                    soTienWrapper.style.display = "none";
                    soTien.value = "";
                }
            });

            // Ẩn input số tiền ban đầu
            soTienWrapper.style.display = "none";
        });
    </script>
</div>
</body>
</html>