<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/main}">
<body>
<div layout:fragment="content">
    <!-- Page header -->
    <div class="page-body d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Thiết bị đang đặt chỗ
                    </h2>
                </div>
                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="/add-booking-device" class="btn btn-primary">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 5l0 14"/>
                                <path d="M5 12l14 0"/>
                            </svg>
                            Đặt chỗ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table
                                    class="table table-vcenter table-mobile-md card-table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Thành viên</th>
                                    <th>Tên thiết bị</th>
                                    <th>TG đặt chỗ</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody th:if="${list.empty}">
                                <tr>
                                    <td colspan="4" class="text-center text-muted">No data available</td>
                                </tr>
                                </tbody>
                                <tbody th:unless="${list.empty}">
                                <tbody th:each="item : ${list}">
                                <tr>
                                    <td th:text="${item.maTT}"></td>
                                    <td>
                                        <div class="d-flex py-1 align-items-center">
                                            <span class="avatar me-2"
                                                  style="background-image: url('/images/default_avatar.jpg')"></span>
                                            <div class="flex-fill">
                                                <div class="font-weight-medium" th:text="${item.thanhVien.hoTen}">
                                                </div>
                                                <div class="text-muted">
                                                    <a href="#" class="text-reset" th:text="${item.thanhVien.maTV}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-muted">
                                        <span th:if="${item.thietBi != null}" th:text="${item.thietBi.maTB}"></span>
                                        <span th:if="${item.thietBi != null}"> - </span>
                                        <span th:if="${item.thietBi != null}" th:text="${item.thietBi.tenTB}"></span>
                                        <span th:if="${item.thietBi == null}">/</span>
                                    </td>
                                    <td class="text-muted">
                                        <span th:if="${item.TgDatCho != null}" th:text="${item.TgDatCho}"></span>
                                    </td>
                                    <td class="">
                                        <div class="btn-list flex-nowrap">
                                            <form
                                                  th:action="@{/booking-device/delete/{id}(id=${item.maTT})}"
                                                  method="post">
                                                <button type="submit" class="btn btn-outline-danger">
                                                    Xoá
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>