<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/main}">
<body>
<div layout:fragment="content">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title"> Hồ sơ cá nhân</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="card">
                <div class="row g-0">
                    <div class="col-3 d-none d-md-block border-end">
                        <div class="card-body">
                            <h4 class="subheader">Tài khoản</h4>
                            <div class="list-group list-group-transparent">
                                <a th:href="@{/profile}"
                                   class="list-group-item list-group-item-action d-flex align-items-center">Tài
                                    khoản của tôi</a>
                                <a th:href="@{/change-password}"
                                   class="list-group-item list-group-item-action d-flex align-items-center active">Đổi
                                    mật khẩu</a>
                                <a th:href="@{/logout}" class="list-group-item list-group-item-action text-danger">Đăng
                                    xuất</a>
                            </div>

                        </div>
                    </div>
                    <form th:action="@{/change-password}" method="post" class="col d-flex flex-column">
                        <div class="card-body">
                            <h2 class="mb-4">Thay đổi mật khẩu</h2>

                            <div class="row g-3 ">
                                <div class="col-12 col-md-8 col-lg-4">
                                    <div class="form-label">Mật khẩu củ</div>
                                    <div class="input-group input-group-flat w-auto">
                                        <input name="password" type="password" class="form-control w-auto"
                                               placeholder="Nhập mật khẩu cũ"
                                               autocomplete="off">
                                        <span class="input-group-text">
                                        <a href="#" class="link-secondary" data-bs-toggle="tooltip"
                                           aria-label="Show password"
                                           data-bs-original-title="Show password"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                               viewBox="0 0 24 24"
                                               stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                               stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                             fill="none"></path><path
                                                  d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
                                                  d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path></svg>
                                        </a>
                                      </span>
                                    </div>

                                </div>

                            </div>
                            <div class="row g-3 mt-3 mb-3">
                                <div class="col-12 col-md-8 col-lg-4">
                                    <div class="form-label">Mật khẩu mới</div>
                                    <div class="input-group input-group-flat w-auto">
                                        <input name="newPassword" type="password" class="form-control w-auto"
                                               placeholder="Nhập mật khẩu mới"
                                               autocomplete="off">
                                        <span class="input-group-text">
                                        <a href="#" class="link-secondary" data-bs-toggle="tooltip"
                                           aria-label="Show password"
                                           data-bs-original-title="Show password"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                               viewBox="0 0 24 24"
                                               stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                               stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                             fill="none"></path><path
                                                  d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path
                                                  d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path></svg>
                                        </a>
                                      </span>
                                    </div>
                                </div>

                            </div>
                            <p th:if="${param.success}" class="text-success">Thay đổi mật khẩu thành công.</p>
                            <p th:if="${error}" class="text-danger" th:text="${error}"></p>

                        </div>

                        <div class="card-footer bg-transparent mt-auto">


                            <div class="btn-list justify-content-end">
                                <a th:href="@{/change-password}" class="btn">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>