<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/main}">
<body>
<div layout:fragment="content">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Xử lý vi phạm
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table
                                    class="table table-vcenter table-mobile-md card-table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Thành viên</th>
                                    <th>Hình thức xử lý</th>
                                    <th>Số tiền</th>
                                    <th>Ngày xử lý</th>
                                    <th>Trạng thái</th>
                                </tr>
                                </thead>
                                <tbody th:if="${list.empty}">
                                    <tr>
                                        <td colspan="5" class="text-center text-muted">No data available</td>
                                    </tr>
                                </tbody>
                                <tbody th:unless="${list.empty}">
                                <tbody th:each="item : ${list}">
                                <tr>
                                    <td th:text="${item.maXL}"></td>
                                    <td>
                                        <div class="d-flex py-1 align-items-center">
                                            <span class="avatar me-2" style="background-image: url('/images/default_avatar.jpg')"></span>
                                            <div class="flex-fill">
                                                <div class="font-weight-medium" th:text="${item.thanhVien.hoTen}">
                                                </div>
                                                <div class="text-muted">
                                                    <a href="#" class="text-reset" th:text="${item.thanhVien.maTV}"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-muted"><span th:text="${item.hinhThucXL}"></span></td>
                                    <td class="text-muted">
                                        <span th:if="${item.soTien != null}" th:text="${item.soTien}"></span>
                                        <span th:if="${item.soTien == null}">Không có</span>
                                    </td>
                                    <td class="text-muted">
                                        <span th:text="${#dates.format(item.ngayXL, 'dd-MM-yyyy HH:mm')}"></span></td>
                                    <td class="text-muted">
                                        <span class="badge bg-teal text-teal-fg" th:if="${item.trangThaiXL != 1}">Đã xử lý</span>
                                        <span class="badge bg-red text-red-fg" th:if="${item.trangThaiXL == 1}">Đang xử lý</span>
                                    </td>
                                </tr>
                                </tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>