<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth}">
<body>
<div layout:fragment="content">
    <div class="text-center mb-4">
        <a th:href="@{/}" class="navbar-brand navbar-brand-autodark"><img th:src="@{/svg/klf_logo.png}" height="46" alt=""></a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">Đăng nhập</h2>
            <form th:action="@{/login}" method="post" autocomplete="off" novalidate>
                <div class="mb-3">
                    <label class="form-label">Tên tài khoản</label>
                    <input name="email" type="email" class="form-control" placeholder="Email hoặc mã thành viên..."
                           autocomplete="off">
                </div>
                <div class="mb-2">
                    <label class="form-label">Mật khẩu
                        <span class="form-label-description">
                            <a th:href="@{/forgot-password}">Quên mật khẩu</a>
                        </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input id="password-field" name="password" type="password" class="form-control"
                               placeholder="Mật khẩu của bạn"
                               autocomplete="off">
                        <span class="input-group-text">
                            <a id="toggle-password-type" href="#" class="link-secondary" title="Show password"
                               data-bs-toggle="tooltip">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24"
                                   stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                   stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                                      d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                                      d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                            </a>
                      </span>
                    </div>
                </div>
                <div class="form-footer">
                    <p th:if="${param.error}" class="text-danger">Tên đăng nhập hoặc mật khẩu sai.</p>
                    <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
                </div>
            </form>
        </div>

    </div>
    <div class="text-center text-muted mt-3">
        Bạn chưa có tài khoản? <a th:href="@{/register}" tabindex="-1">Đăng ký</a>
    </div>
</div>

</body>
</html>


